@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5.5%;
    --blue: 200 92% 50.8%;
    --purple: 257.5 93.5% 57.6%;
    --orange: 36.7 100% 66.7%;
    --darkOrange: 25.1 100% 51.8%;
    --hazloGreen: 154.1 100% 44.9%;
    --hazloDarkGreen: 193.5 100% 40%;
    --hazloPink: 314.9 100% 72.4%;
    --hazloDarkPink: 282.2 100% 41.6%;
    --border: 0 0% 85.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background;
  }

  Simple and subtle modern scrollbar
  ::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
    height: 8px; /* For horizontal scrollbar */
  }
 /* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Darker gray */
  border-image: linear-gradient(to right, #9b59b6, #2980b9);
  border-radius: 50px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover { 
  background-color: #2c262e; 
  border-radius: 50px;
  border: 1px solid;
  border-image: linear-gradient(to right, #8e44ad, #3498db); 
  border-image-slice: 1;
  transition: background-color 0.3s ease, border 0.3s ease;
}
}
